d/* ===== Details======= */
.details {
  /* background-color: red; */
  margin: auto;
  max-width: var(--max-width);
}

/* ===== Description starts====== */

.genres {
  margin-top: 20px;
}

.description .genres {
  display: flex;
  gap: 10px;
  align-items: flex-end;
}

.description div {
  display: flex;
  gap: 10px;
}
.youtube-and-description {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 30px;
}

.rating-container {
  display: flex;
  gap: 10px;
  align-items: flex-end;
}
/* ===== Description ends====== */

/* ============ Recommended starts============= */
.recommended {
  margin-top: 50px;
}

.recommended h1 {
  margin-bottom: 20px;
}

.recommended div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.recommended img,
.recommended a {
  max-width: 200px;
  height: 100%;
  border-radius: 5px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 5px;
  transition: all 0.35s ease-in-out;
  width: 100%;
}

.recommended img:hover {
  transform: scale(1.04);
}

/* ============ Recommended ends============= */

@media (max-width: 800px) {
  .recommended div {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .recommended img,
  .recommended a {
    max-width: 150px;
  }
}

@media (max-width: 414px) {
  .recommended div {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
  .recommended img,
  .recommended a {
    max-width: 100px;
  }
}
