.home-banner-wrapper {
  display: flex;
  align-items: center;

  width: 100vw;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.home-banner-wrapper h1 {
  font-size: 60px;
  text-align: center;
}

.home-banner-wrapper p {
  font-size: 20px;
  text-align: center;
}

.home-banner {
  border-bottom: 8px solid #222;
  border-top: 8px solid #222;
}
