.home-banner-wrapper {
  display: flex;
  align-items: center;

  width: 100vw;
  justify-content: space-between;
  max-width: var(--max-width);
  margin: 0 auto;
}

.home-banner-wrapper h1 {
  font-size: 60px;
  text-align: center;
}

.home-banner-wrapper p {
  font-size: 20px;
  text-align: center;
  padding: 0 60px;
}
.home-banner-wrapper img {
  width: 100%;
  height: auto;
}

.home-banner {
  border-bottom: 8px solid #222;
  border-top: 8px solid #222;
}

/* ================== Media queries =================== */
@media only screen and (max-width: 1200px) {
  .home-banner-wrapper h1 {
    font-size: 45px;
  }
  .home-banner-wrapper p {
    font-size: 18px;
    padding: 0 90px;
  }
}

@media only screen and (max-width: 800px) {
  .home-banner-wrapper {
    flex-direction: column;
  }
  .home-banner-wrapper h1 {
    font-size: 40px;
  }
  .home-banner-wrapper p {
    max-width: 550px;
  }
  .home-banner-wrapper img {
    max-width: 500px;
  }
}

@media only screen and (max-width: 375px) {
  .home-banner-wrapper h1 {
    font-size: 30px;
  }
  .home-banner-wrapper p {
    font-size: 16px;
    padding: 0 30px;
  }
}
