.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 10px;
  width: 100%;
  position: relative;
}

.search-bar input {
  color: black;
  outline: none;
  border: none;
  height: 30px;
  /* width: 80%; */
  width: 100%;
  font-size: 16px;
  padding-left: 15px;
  border-radius: 20px;
}
