@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --max-width: 1200px;
}

.section {
  max-width: var(--max-width);
  padding: 50px;
  margin: 0 auto;
}
body {
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
}

.scroll-container {
  display: inline-flex;
  width: 100%;
  margin: 0 auto;
  overflow-x: scroll;
}
