/* Hide scrollbar from all browsers starts */
/* Hide scrollbar from chrome */
.poster-wrapper::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.poster-wrapper {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar from all browsers ends*/

.poster-wrapper img {
  width: 200px;
  border-radius: 5px;
  margin: 10px 10px 5px 0px;
  transition: all 0.35s ease-in-out;
}
.poster-wrapper .poster:nth-child(1) {
  margin-left: 10px;
}
.poster-wrapper img:hover {
  transform: scale(1.05);
}

.category {
  margin-left: 10px;
}

/* scroll-container is working only through index.css*/
.scroll-container {
  display: inline-flex;
  width: 100%;
  margin: 0 auto;
  overflow-x: scroll;
}
