/* Hide scrollbar from chrome */
.poster-wrapper::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.poster-wrapper {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.poster-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: scroll;
}

.poster-wrapper img {
  width: 200px;
  border-radius: 5px;
  margin: 10px 10px 5px 0px;
  transition: all 0.35s ease-in-out;
}
.poster-wrapper .poster:nth-child(1) {
  margin-left: 10px;
}
.poster-wrapper img:hover {
  transform: scale(1.05);
}

.category {
  margin-left: 10px;
}
